:root {
  --primary: forestgreen;
}
html {
  min-height: 100%;
  overflow-x: hidden;
  position: relative;
}

body {
  background-color: #fff;
  color: #212529;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 100px;
  text-align: left;
  padding-bottom: 500px;
}

.footer {
  bottom: 0;
  left: 0;
  position: absolute;
  height: fit-content;
  width: 100%;
}

#main {
  padding-top: 50px;
}

.navbar .container {
  align-items: center;
  flex-direction: column;
}

.navbar-nav {
  align-items: center;
}

.product-box-img {
  position: relative;
  height: 196px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 100%;
  min-width: 100%;
}

.product-box-img img {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 0;
}

.product-box {
  border: 1px solid lightgray;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  height: 315px;
  justify-content: space-between;
  margin: 8px 5px;
  width: 200px;
}

.collapse-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: auto;
}

.collapse-menu {
  display: block;
  width: 130px;
  margin-left: 1%;
  height: fit-content;
  position: absolute;
  background-color: whitesmoke;
  border-radius: 10px;
  z-index: 50;
}

.collapse-toggle {
  display: block;
}

.collapse-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.collapse-menu ul li {
  display: block;
  margin: auto;
  text-align: center;
  padding: 10px 0;
  color: rgb(56, 56, 56);
  font-weight: 600;
  border-radius: 0;
}

.collapse-menu ul a:first-child {
  border-radius: 0;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.collapse-menu ul a:last-child {
  border-radius: 0;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.collapse-menu ul a:hover {
  background-color: lightgreen;
  color: #b0b2b4 !important;
}

.collapse-menu ul a {
  border-bottom: 1px solid #212529;
}

.collapse-menu ul a:hover {
  text-decoration: none;
}

.collapse-menu ul a:last-child {
  border-bottom: 0;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  width: 70%;
}

.product-title {
  color: var(--primary);
  font-size: 26px;
  text-align: center;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.product-details {
  padding: 19px 0px;
}

.category-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
}

.category-box:first-of-type {
  border-bottom-left-radius: 20px;
  border-right: 0;
  border-top-left-radius: 20px;
}

.category-box:last-of-type {
  border-bottom-right-radius: 20px;
  border-right: darkgrey 1px solid;
  border-top-right-radius: 20px;
}

.category-box {
  align-items: center;
  border: darkgrey 1px solid;
  border-right: 0;
  display: flex;
  height: 100px;
  justify-content: center;
  text-align: center;
  transition: 200ms;
  width: 100px;
}

.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: var(--primary);
  color: white;
  padding: 0 20px;
}

.category-box:hover {
  background-color: darkgrey;
  cursor: pointer;
  transition: 200ms;
}
.cart-items {
  height: 80%;
}
.cart-items ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: inherit;
  overflow-y: scroll;
}

.cart-items ul li:last-of-type {
  border-bottom: 0;
}

.cart-items ul li {
  border-bottom: 1px solid var(--primary);
  padding: 15px 0;
  display: flex;
}

.cart-item-image {
  position: relative;
  height: 126px;
  width: 126px;
  margin-right: 20px;
}

.cart-item-details {
  height: 100px;
  margin-right: 20px;
}

.cart-item-container {
  display: flex;
  justify-content: flex-start;
}
.cart-item-control {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.cart-item-control button {
  border: 0;
  border-radius: 5px;
  height: 30px;
  margin: 6px;
  width: 35px;
  background-color: #212529;
  color: white;
  cursor: pointer;
}

.cart {
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 100;
}

.cart .items ul li {
  display: flex;
  height: fit-content;
  padding: 10px 0;
  border-bottom: 1px solid var(--primary);
  justify-content: space-between;
}

.cart .items ul li:last-child {
  border-bottom: 0;
}

.grey-bg {
  background-color: rgb(165, 165, 165);
  position: fixed;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 90;
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
.cart-content {
  position: fixed;
  background-color: rgb(230, 230, 230);
  padding: 10px;
  border-radius: 30px;
  box-shadow: #282c30 0px 0px 100px -30px;
  top: 10vw;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  z-index: 91;
}

.cart-icon {
  border: 0;
  border-radius: 5px;
  height: 35px;
  margin: 6px;
  width: 40px;
  cursor: pointer;
  padding: 0;
  color: black;
}

.media-link {
  position: relative;
  z-index: 1;
}

.cart-shortcut {
  bottom: 10vh;
  position: fixed;
  right: 2vw;
  z-index: 99;
}

.cart-shortcut-items {
  background-color: red;
  border-radius: 50%;
  color: #fff;
  height: 10px;
  width: 10px;
}

.cart-shortcut-button {
  background-color: var(--primary);
  border: 0;
  border-radius: 50%;
  color: #fff;
  height: 50px;
  width: 50px;
}

.cart-shortcut-button:hover {
  cursor: pointer;
}

.category-box-enter {
  opacity: 0;
}

.category-box-enter-active {
  opacity: 1;
  transition: 200ms;
}

.category-box-exit {
  transform: translateY(500);
}

.category-box-exit-active {
  opacity: 1;
  transition: 200ms;
}

.bg-dark {
  background-color: var(--primary) !important;
  border-bottom: 1px solid #eee;
  padding-bottom: 0;
  padding-top: 0;
}

.carousel .slider-wrapper {
  width: 300px;
}

.price {
  display: flex;
  justify-content: space-between;
}

.product-price {
  font-size: x-large;
  height: fit-content;
  padding: 5px;
  font-size: x-large;
}
.content-title {
  color: var(--primary);
  margin: auto;
  width: fit-content;
}

.product-display {
  display: flex;
  justify-content: space-evenly;
  margin: 0 9vw;
}

.product-list-item {
  display: block;
}

.navbar-links ul {
  display: flex;
  margin-bottom: 0;
}

.navbar-links ul li {
  display: block;
}

.nav-link {
  color: #ffffff5e !important;
  font-size: 18px;
  font-weight: 500;
}

.nav-link:hover {
  color: #ffffff !important;
  transition: all 0.5s ease;
}

.nav-link.active {
  color: #ffffff !important;
  transition: all 0.5s ease;
}

.nav-item .show {
  color: #ffffff !important;
  transition: all 0.5s ease;
}

.social-icons ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 20px 0;
  width: 100%;
}

.social-icons ul li {
  background-color: lightgray;
  border: 1px solid lightgrey;
  border-radius: 30px;
  height: 30px;
  margin: 1vw;
  width: 30px;
}

.social-icons ul li a {
  color: #fafafa !important;
  position: relative;
  top: 2px;
}

.product-payment {
  display: flex;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-icon {
  height: 100px;
  margin: auto;
  margin-bottom: 10vmin;
  margin-top: 10vmin;
  width: 100px;
}

.spinner {
  animation: spin 1s linear infinite;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  height: 100px;
  width: 100px;
}

.nav-link {
  margin: 0px 12px;
}

.featured {
  align-items: center;
  background-color: rgb(183, 216, 156);
  border: 2px solid greenyellow;
  border-radius: 20px;
  display: flex;
  height: 300px;
  justify-content: space-around;
  margin-top: 100px;
  width: 50%;
}

.featured-text {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.featured-image {
  position: relative;
  top: -35px;
}

.image-container {
  width: 300px;
  height: 300px;
  position: relative;
}

.small-title {
  color: wheat;
  font-size: 3vw;
  text-align: center;
}

.mid-title {
  color: green;
  font-size: 5vw;
  text-align: center;
}

.logo {
  margin: auto;
  width: 80px;
}

.product-info {
  height: inherit;
  max-width: 800px;
  width: 50vw;
}

/* .product-description p {
    width: 80%;
    margin: 0!important;
} */

.thumbs-wrapper.axis-vertical {
  display: none;
}
.footer-menu {
  padding-top: 20px;
}

.bot-navbar {
  display: none;
}

.footer {
  background-color: #272927;
  margin-top: 100px;
  text-align: center;
  width: 100%;
}

.footer.container {
  bottom: 0;
  position: relative;
  width: 100%;
}

.footer-menu ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  width: 100%;
}
.carousel-container {
  width: unset;
}
.footer-menu ul li a {
  color: #b0b2b4;
}

@keyframes raise {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-25px);
  }
}

@keyframes lower {
  from {
    transform: translateY(-25px);
  }
  to {
    transform: translate(0, 0);
  }
}

@media only screen and (max-width: 991.8px) {
  .top-navbar ul {
    display: none;
  }

  .cart-item-control {
    flex-direction: column;
  }

  .bot-navbar {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 73px;
    z-index: 100;
    box-shadow: rgb(56, 56, 56) 0px 0px 10px;
  }
  .cart .items ul {
    padding: 10px;
    margin: auto;
  }

  .cart .items ul li {
  }
  .bot-nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: lightgray;
  }

  .bot-nav-link a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgreen;
    font-size: x-large;
    animation: lower 0.5s ease;
    border: 0;
  }

  .bot-nav-link.active a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: wheat;
    inset: 0 -2px 0 0 #ffffff;
    background-color: darkgreen;
    animation: raise 0.5s ease;
    transform: translateY(-25px);
  }

  .bot-nav-link.active a:hover {
    color: wheat;
  }

  .cart-shortcut {
    display: none;
  }

  .product-list {
    display: flex;
    width: auto;
  }

  .footer-menu ul {
    display: block;
  }

  .footer-menu ul li {
    padding-top: 10px;
  }

  .product-info {
    margin-top: 30px;
    width: 80%;
  }

  .product-box {
    display: flex;
    flex-direction: row;
    height: 167px;
    width: 100%;
  }

  .product-display {
    align-items: center;
    flex-direction: column;
    margin: 0;
  }

  .product-box-img {
    height: 100%;
    width: 165px;
  }

  .product-box-img img {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .image-container {
    width: 100vw;
    height: 100vw;
    position: relative;
  }

  .price {
    align-items: flex-end;
    height: 85%;
  }

  .navbar .container {
    align-items: center;
    flex-direction: row;
  }

  .product-payment {
    position: relative;
  }

  .carousel .slider-wrapper {
    width: 100%;
  }

  .carousel-container {
    width: 100%;
  }

  .social-icons ul {
    justify-content: space-around;
  }

  .footer {
    display: none;
  }

  body {
    padding-bottom: 10vh;
  }
}
