#main {
    padding-top: 50px;
}

.footer {
    text-align: center;
}

.product-box img {
    max-width: 100%;
    min-width: 100%;
}

.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;

}

.product-title {
    font-size: x-large;
    text-align: center;
}

.product-box {
    display: flex;
    height: 300px;
    width: 200px;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px 5px;
    border: 1px solid lightgray;
}


.product-details {
    padding: 19px 0px;

}

.product-button {
    border: 0;
    border-radius: 5px;
}

.price {
    display: flex;
    justify-content: space-between;
}

.content-title {
    width: fit-content;
    margin: auto;
    color: steelblue;
}

.product-display {
    width: 80%;
    border: 1px solid lightgray;
    margin: auto;
}

.product-display img {
    
}